#purchase.active {
  grid-template-rows: auto 1fr auto;

  header,
  footer {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  header {
    .row {
      display: flex;
      gap: 4px;
    }

    .row:nth-child(1) {
      .input:nth-child(1) {
        max-width: 140px;
      }
      .input:nth-child(2) {
        margin-left: auto;
        width: 260px;
      }
    }

    .row:nth-child(2) {
      .input:nth-child(1) {
        flex: 1;
      }
      .input:nth-child(2) {
        margin-left: auto;
        max-width: 260px;
      }
    }

    .row:nth-child(3) {
      .input:nth-child(1) {
        flex: 1;
      }

      .input:nth-child(2) {
        max-width: 120px;
      }

      .input:nth-child(3) {
        max-width: 260px;
        margin-left: auto;
      }
    }

    .row:nth-child(4),
    .row:nth-child(5) {
      .input {
        max-width: 210px;
      }
    }

    .row:nth-child(5) {
      .input:last-of-type {
        margin-left: auto;
      }
    }
  }

  footer {
    flex-direction: row;
    justify-content: space-between;

    .left,
    .right {
      display: flex;
    }

    .left {
      justify-content: flex-start;
      align-items: flex-end;
    }

    .right {
      flex-direction: column;
      gap: 4px;
      .input {
        width: 210px;
      }
    }
  }
}
