#editCompanyList {
  .wrapper {
    width: 80%;
    height: 90%;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 8px;

    .company-info {
      display: flex;
      flex-direction: row;
      gap: 10px;

      .left {
        display: flex;
        flex-direction: column;
        gap: 4px;
        flex: 1;

        .row {
          display: flex;
          gap: 4px;
        }

        .row:nth-child(1) {
          justify-content: space-between;

          .input:nth-child(1),
          .input:nth-child(2) {
            width: 160px;
          }
        }

        .row:nth-child(2) {
          margin-top: 30px;
          .input:nth-child(1) {
            flex: 1;
          }
        }

        .row:nth-child(3) {
          .input:nth-child(1) {
            flex: 1;
          }

          .input:nth-child(2) {
            width: 220px;
          }
        }
      }

      .right .row {
        display: flex;
        gap: 8px;
        padding-right: 6px;
      }
    }

    .company-dues {
      th:nth-child(1),
      td:nth-child(1) {
        width: 90px;
        text-align: center;
        background-color: #250000 !important;
      }

      th:nth-child(2),
      td:nth-child(2) {
        width: 180px;
        text-align: center;
        background-color: #250000 !important;
      }

      th:nth-child(3),
      td:nth-child(3),
      th:nth-child(4),
      td:nth-child(4),
      th:nth-child(5),
      td:nth-child(5),
      th:nth-child(6),
      td:nth-child(6) {
        width: 100px;
        text-align: center;
        background-color: #250000 !important;
      }
    }
  }
}
