@font-face {
  font-family: lato;
  src: url(../assets/fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: latoBold;
  src: url(../assets/fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: poppins;
  src: url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: poppinsBold;
  src: url(../assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: number;
  src: url(../assets/fonts/monofonto.otf);
}

:root {
  --bg-clr-lt: #ebebeb;
  --bg-clr-drk: #141414;

  --clr-drk: #222222;
  --clr-gray: #444444;
  --clr-lt: #e2e2e2;
  --clr-lt-gray: #9c9c9c;

  --link-clr: #00993b;
  --link-hv-clr: #38b156;
  --link-ac-clr: #46cf68;

  --btn-clr: #2b7cff;
  --btn-hv-clr: #1d62d1;
  --btn-ac-clr: #0046b8;
  --bg-outline-btn: #bcd0f1;

  --input-ac-clr: #bcd0f1;

  --error-bg-color: #ff9898;
  --error-text-color: #a10000;

  --outline-clr: #a37800;
  --selection-clr: #46cf68;

  --input-height: 30px;
}

::selection {
  background-color: var(--selection-clr);
}

::backdrop {
  background-color: #00000080;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: lato;
  user-select: none;
}

button {
  width: 100%;
  height: var(--input-height);

  padding: 0 1.4rem;
  color: var(--clr-lt);
  background-color: var(--btn-clr);
  font-size: 15px;
  font-family: system-ui, sans-serif;
  border-radius: 4px;
  border: 1px solid transparent;
  outline-offset: 4px;
  cursor: pointer;
}

button:focus {
  color: #fff;
  /* outline-color: var(--outline-clr); */
}

button:hover {
  color: #fff;
  background-color: var(--btn-hv-clr);
}

button:active {
  background-color: var(--btn-ac-clr);
  scale: 0.98;
}

button.outline-btn {
  background-color: #dddddd;
  color: var(--clr-drk);
  border: 1px solid #818181;
}

button:disabled {
  color: var(--bg-outline-btn);
  background-color: var(--clr-gray);
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
select {
  width: 100%;
  height: var(--input-height);

  padding: 0 6px;
  font-family: "Segoe UI", sans-serif;
  font-weight: 600;

  border: 1px solid #525252;
  border-radius: 4px;
  outline: none;
  transition: all 70ms ease-in-out;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
select:focus {
  background-color: var(--input-ac-clr);
  border-color: var(--btn-clr);
}

input:disabled {
  color: #1a1a1a;
  background-color: #cecece;
}

label {
  color: #252525;
  font-size: 14px;
  white-space: nowrap;
}

h1,
p {
  margin: 0;
}

h1 {
  font-size: 1rem;
  font-family: poppins;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table,
td,
th {
  border: 1px solid #777;
}

thead {
  position: sticky;
  top: var(--table-container-padding, 0);
  th {
    color: var(--bg-clr-lt);
    background-color: var(--bg-clr-drk);
    padding: 4px;
  }
}

tbody {
  td {
    padding: 4px;
  }

  tr:nth-child(odd) {
    background-color: #fff;
  }

  tr:nth-child(even) {
    background-color: #eee;
  }

  tr:hover {
    background-color: var(--selection-clr);
  }
}

dialog:open {
  width: 500px;
  background-color: #f0f0f0;
  border: 1px solid #000;
  border-radius: 10px;
  user-select: none;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;

    & > div {
      display: flex;
      flex-direction: column;
    }
  }

  input[type="text"],
  input[type="select"] {
    border: 1px solid rgb(136, 136, 136);
  }
}

div:has(> .suggetion) {
  position: relative;
}

.hidden,
.hide {
  display: none !important;
}

.shown,
.show,
.block {
  display: block !important;
}

.inline {
  display: inline !important;
}

.grid {
  display: grid !important;
}

.flex {
  display: flex !important;
}

.flex-0 {
  flex: 0;
}

.flex-1 {
  flex-grow: 1;
}

.error-text {
  color: var(--error-text);
}

.error-bg {
  background-color: var(--error-bg);
}

.error {
  color: var(--error-text-color) !important;
  background-color: var(--error-bg-color) !important;
}

.relative {
  position: relative;
}

.suggetion {
  width: 100%;
  max-height: 240px;
  overflow-y: auto;
  padding: 6px;
  border-radius: 4px;
  box-shadow: 0 0 4px #000;
  position: absolute;
  top: 100%;
  z-index: 100;
  background-color: #cfcfcf;

  & > div {
    color: #000000;
    border-radius: 4px;
    padding: 2px 4px;
    background-color: #e9e9e9;

    span:first-child {
      width: 160px;
      padding-inline: 10px;
    }
  }

  & > div:hover {
    background-color: #c2c2c2;
  }

  div.selected {
    color: #fff;
    background-color: #195700;
  }

  & > div:not(:last-child) {
    margin-bottom: 2px;
  }

  & > div > div:last-child {
    margin-left: 10px;
  }
}

#messege {
  display: none;
  min-width: 250px;
  max-width: 300px;
  padding: 0.5rem 1.2rem;
  border: 1px solid var(--clr-lt-gray);
  border-radius: 10px;
  color: var(--clr-lt);
  background-color: #3f3f3fe7;
  backdrop-filter: blur(5px);
  position: absolute;
  right: 1.2rem;
  bottom: 1rem;
  animation: open-messege 450ms forwards;

  div:first-child {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--clr-lt);
    position: relative;

    margin-bottom: 6px;
  }

  #messegeClose {
    position: absolute;
    right: -0.8rem;
    top: 0;
    background-color: #ff9393;
    border-radius: 10px;
    fill: #8a0101;
  }

  #messegeClose:hover {
    fill: var(--error-text);
    background-color: #ff5b5b;
  }
}

#messege.open {
  display: block;
}

@keyframes open-messege {
  0% {
    scale: 0;
    bottom: -100%;
  }
  100% {
    scale: 1;
    bottom: 1rem;
  }
}

#confirmation {
  width: 300px;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid gray;

  h1 {
    margin-bottom: 10px;
  }

  div {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  div button:last-child {
    color: #000;
    background-color: rgb(180, 180, 180) !important;
  }
}
