#customerReturn.active {
  display: grid;
  grid-template-rows: auto 1fr auto;

  header {
    .row:nth-child(1),
    .row:nth-child(2) {
      .input:nth-child(1) {
        width: 170px;
      }

      .input:nth-child(2) {
        width: 220px;
      }
    }

    .row:nth-child(3) {
      .input:nth-child(2) {
        width: 350px;
      }
    }
  }

  footer {
    .left {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
    }
  }

  th:nth-child(1),
  td:nth-child(1) {
    width: 80px;
    text-align: center;
  }

  th:nth-child(3),
  td:nth-child(3),
  th:nth-child(4),
  td:nth-child(4),
  th:nth-child(5),
  td:nth-child(5),
  th:nth-child(6),
  td:nth-child(6),
  th:nth-child(7),
  td:nth-child(7) {
    width: 120px;
    text-align: center;
  }
}
