#customerReturn.active {
  display: grid;
  grid-template-rows: auto 1fr auto;

  header {
    .row:nth-child(1) {
      .input:nth-child(1),
      .input:nth-child(2) {
        width: 180px;
      }

      .input:nth-child(3) {
        width: 200px;
      }
    }

    .row:nth-child(2) {
      margin-top: 30px;
      .input:nth-child(3) {
        width: 200px;
      }
    }
  }

  footer {
    .left {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
    }

    .right {
      .input {
        width: 200px;
      }
    }
  }

  th:nth-child(1),
  td:nth-child(1) {
    width: 50px;
    text-align: center;
  }

  th:nth-child(3),
  td:nth-child(3),
  th:nth-child(4),
  td:nth-child(4),
  th:nth-child(5),
  td:nth-child(5),
  th:nth-child(6),
  td:nth-child(6),
  th:nth-child(7),
  td:nth-child(7) {
    width: 120px;
    text-align: center;
  }
}
