@import url(./utils/unset.css);
@import url(./utils/button.css);
@import url(./utils/inputs.css);
@import url(./utils/utils.css);
@import url(./utils/messege.css);
@import url(./utils/dialog.css);

@import url(./create/create.css);

@import url(./sell.css);
@import url(./list/voucher.css);
@import url(./customerReturn.css);
@import url(./purchase.css);

@import url(./settings.css);

@import url(./list/customerList.css);
@import url(./list/productList.css);
@import url(./list/companyList.css);
@import url(./list/genericList.css);
@import url(./list/typeList.css);
@import url(./list/stockList.css);
@import url(./list/purchaseList.css);
@import url(./list/expenseList.css);
@import url(./list/customerReturnList.css);
@import url(./list/companyReturnList.css);

@import url(./settings/investCash.css);
@import url(./settings/withdrawCash.css);
@import url(./settings/editStoreInfo.css);
@import url(./settings/editAdminInfo.css);

#pos {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 220px 1fr;

  overflow: hidden;
}

#pos > nav {
  padding: 10px;
  color: #00993b;
  background-color: #202020b9;

  overflow-y: auto;

  svg {
    fill: #00993b;
  }

  #displayCash {
    padding: 4px 10px;
    color: red;
  }

  li:not(:has(li)) {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px;
  }

  li:not(:has(li)):hover {
    color: #32eb78;
    background-color: #000;

    svg {
      fill: #32eb78;
    }
  }

  li.active {
    color: #fff;
    background-color: #000;

    svg {
      fill: #fff;
    }
  }

  li > div {
    display: flex;
    justify-content: space-between;
    padding: 4px;

    svg {
      fill: #858585;
    }

    + ul {
      display: none;
      padding-left: 10px;
      padding-top: 2px;

      li {
        padding-left: 8px;
      }
    }
  }

  li.expended > div {
    color: #c7c7c7;

    svg {
      fill: rgb(196, 196, 196);
      rotate: 180deg;
    }

    + ul {
      display: block;
    }
  }

  li > div:hover,
  li.expended > div {
    color: #aaaaaa;
    background-color: #424242;

    svg {
      fill: rgb(175, 175, 175);
    }
  }
}

#pos > nav > ul > li {
  margin-bottom: 2px;
}

#pos > main {
  width: 100%;
  height: 100%;
  overflow: hidden;

  & > div {
    width: 100%;
    height: 100%;
    padding: 8px;
    display: none;
    gap: 10px;

    overflow: hidden;
  }
}

div:has(> .suggetion) {
  position: relative;
}

.suggetion {
  max-height: 210px;
  overflow-y: auto;
  overflow-anchor: none;
  padding: 8px;
  position: fixed;
  z-index: 100;
  background-color: #000000;
  box-shadow: 0 0 4px 6px #29292927, inset 0 0 2px #fffffffd;
  border-radius: 4px;

  & > div {
    color: #c0c0c0;
    padding: 2px 4px;
    background-color: #252525;
    border-radius: 4px;

    span:first-child {
      width: 160px;
      padding-inline: 10px;
    }
  }

  & > div:hover {
    background-color: #303030;
  }

  div.selected {
    color: #fff;
    background-color: #239afc;
  }

  & > div:not(:last-child) {
    margin-bottom: 2px;
  }

  & > div > div:last-child {
    margin-left: 10px;
  }
}

#confirmation.open {
  display: block;
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 12px;
  }

  #pos {
    grid-template-columns: 1fr;
  }

  #pos > nav {
    display: none;
  }
}

.thead-close {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
}
