@import url(./basic.css);

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg-clr-drk);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  & > div {
    width: 330px;
  }
}

#storeInfo,
#adminInfo {
  display: flex;
  flex-direction: column;
  gap: 2px;

  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  background-color: var(--bg-clr-lt);

  h1 {
    text-align: center;
    border-bottom: 1px solid;
  }
}

header {
  margin-bottom: 8px;

  h1 {
    font-size: 1.4rem;
  }
}

button {
  margin-left: auto;
}

.input {
  display: flex;
  flex-direction: column;
}

.input:last-of-type {
  margin-top: 10px;
}

#adminInfo {
  .input:nth-child(6) {
    flex-direction: row;
  }
}

#back {
  transition: all 100ms ease-in-out;
}

#back:hover {
  background-color: #272727;
  border-radius: 100%;
  fill: #fff;
}
