@import url(./utils/unset.css);
@import url(./utils/button.css);
@import url(./utils/inputs.css);
@import url(./utils/utils.css);
@import url(./utils/messege.css);
@import url(./utils/dialog.css);

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & > div {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
