@import url(./basic.css);

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg-clr-drk);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login {
  width: 330px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  background-color: var(--bg-clr-lt);
  padding: 1rem;
  margin-bottom: 4rem;
  border-radius: 1rem;
}

.input {
  display: flex;
  flex-direction: column;
}

.input:nth-child(4) {
  flex-direction: row;
}

.input:last-child {
  margin-top: 10px;

  button {
    margin-left: auto;
  }
}

input[type="text"],
input[type="password"] {
  width: 100%;
}

h1 {
  font-size: 1.4rem;
  text-align: center;
  border-bottom: 1px solid var(--clr-drk);
  margin-bottom: 10px;
}
