@import url(./basic.css);
@import url(./pos/pos.css);
@import url(./pos/customerReturn.css);
@import url(./pos/purchase.css);
@import url(./pos/list.css);
@import url(./pos/create.css);

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 220px 1fr;
  position: relative;
}

body > nav {
  height: 100vh;
  overflow-y: auto;
  padding: 10px;
  color: var(--link-clr);
  background-color: var(--bg-clr-drk);

  svg {
    fill: var(--link-clr);
  }

  li:not(:has(li)) {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px;
    border-radius: 4px;
  }

  li:not(:has(li)):hover {
    color: var(--link-ac-clr);
    background-color: #000;
    svg {
      fill: var(--link-ac-clr);
    }
  }

  li.active {
    color: #fff !important;
    background-color: var(--link-clr) !important;
    svg {
      fill: #fff !important;
    }
  }

  li > div {
    color: var(--clr-lt-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    border-radius: 4px;

    svg {
      fill: #858585;
    }

    + ul {
      display: none;
      padding-left: 1rem;
      padding-top: 6px;
    }
  }

  li.expended > div {
    color: rgb(199, 199, 199);
    svg {
      fill: rgb(196, 196, 196);
      rotate: 180deg;
    }
    + ul {
      display: block;
    }
  }

  li > div:hover,
  li.expended > div {
    color: rgb(199, 199, 199);
    background-color: var(--bg-color-window);
    svg {
      fill: rgb(196, 196, 196);
    }
  }
}

body > main {
  width: 100%;
  height: 100vw;

  & > div {
    display: none;
  }

  & > div.active {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: grid;
    padding: 10px;
    gap: 10px;
    position: relative;
  }
}
