#purchase.active {
  display: grid;
  grid-template-rows: auto 1fr auto;

  header {
    .row:nth-child(1) {
      .input:nth-child(1) {
        width: 120px;
      }

      .input:nth-child(2) {
        width: 220px;
      }
    }

    .row:nth-child(2) {
      .input:nth-child(2) {
        width: 220px;
      }
    }

    .row:nth-child(3) {
      margin-bottom: 10px;
      .input:nth-child(2) {
        width: 120px;
      }

      .input:nth-child(3) {
        width: 220px;
      }
    }

    .row:nth-child(4) {
      .input:nth-child(1) {
        width: 140px;
      }

      .input:nth-child(2) {
        width: 140px;
      }
      .input:nth-child(3) {
        width: 140px;
      }

      .input:nth-child(4) {
        width: 220px;
      }
    }
  }

  footer {
    .left {
      justify-content: left;
      align-items: flex-end;
    }

    .right {
      .input {
        width: 160px;
      }
    }
  }

  table {
    th:nth-child(1),
    td:nth-child(1) {
      width: 50px;
      text-align: center;
    }

    th:nth-child(3),
    td:nth-child(3),
    th:nth-child(4),
    td:nth-child(4),
    th:nth-child(5),
    td:nth-child(5),
    th:nth-child(6),
    td:nth-child(6) {
      width: 90px;
      text-align: center;
    }

    th:nth-child(7),
    td:nth-child(7) {
      width: 60px;
      text-align: center;
    }

    th:nth-child(8),
    td:nth-child(8) {
      width: 140px;
      text-align: center;
    }

    th:nth-child(9),
    td:nth-child(9) {
      width: 140px;
      text-align: center;
    }

    th:nth-child(10),
    td:nth-child(10) {
      width: 40px;
      text-align: center;
    }
  }
}
