#sell.active {
  display: grid;
  grid-template-rows: auto 1fr auto;

  header {
    & > .flex:nth-child(1) {
      .input:nth-child(1) {
        width: 130px;
      }

      .input:nth-child(2) {
        width: 140px;
      }

      .input:nth-child(3) {
        width: 140px;
      }

      .input:nth-child(4) {
        width: 180px;
      }
    }

    & > .flex:nth-child(2) {
      .input:nth-child(2) {
        width: 286px;
      }

      .input:nth-child(3) {
        width: 180px;
      }
    }

    & > .flex:nth-child(3) {
      .input:nth-child(2) {
        width: 180px;
      }
    }
  }

  footer {
    justify-content: space-between;

    .left {
      justify-content: flex-end;
      align-items: flex-end;
    }

    .right {
      .input {
        width: 180px;
      }
    }
  }
}
