#settings.active {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  overflow-y: auto;

  & > div {
    display: flex;
    flex-direction: column;

    .buttons {
      display: flex;
      gap: 4px;
      flex-direction: column;
    }

    button {
      width: 100%;
    }
  }
}
