#createCustomer {
  .wrapper {
    width: 650px;
  }

  .wrapper main {
    display: flex;
    flex-direction: column;
    gap: 4px;

    label {
      width: 80px;
    }

    .input:nth-child(1) {
      width: 140px;
      margin-bottom: 1rem;
    }

    .input:nth-child(5) {
      width: 200px;
      margin-top: 1rem;
    }
  }
}
