#createCompany {
  .wrapper {
    width: 650px;
    height: auto;

    position: absolute;
    top: 7rem;
  }

  .wrapper main {
    display: flex;
    flex-direction: column;
    gap: 4px;

    label {
      width: 80px;
    }

    & > .row:nth-child(1) {
      & > .input:nth-child(1) {
        width: 140px;
      }

      & > .flex:nth-child(2) {
        & > .input:nth-child(1) {
          flex: 1;
        }
        & > .input:nth-child(2) {
          width: 180px;
        }
      }
    }

    .row:nth-child(2) {
      display: flex;
      flex-direction: row;
      gap: 3rem;

      & > div {
        display: flex;
        flex-direction: column;

        .input {
          height: auto;
        }
      }

      & > div > div:first-child {
        margin-top: 1rem;
      }
    }
  }
}
