#createType {
  .wrapper main {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .row:nth-child(1),
    .row:nth-child(4) {
      .input:nth-child(1) {
        width: 160px;
      }
    }

    .row:nth-child(2) {
      display: flex;
      .input:nth-child(1) {
        flex: 1;
      }
    }
  }
}