#createCustomer,
#createProduct,
#createType,
#createGeneric,
#createCompany {
  main {
    padding-bottom: 1rem;
  }

  main > .row:nth-child(1) {
    margin-bottom: 21px;
  }
}

#createProduct {
  main {
    & > .row:nth-child(2),
    & > .row:nth-child(3),
    & > .row:nth-child(4),
    & > .row:nth-child(5) {
      label {
        width: 90px;
      }
    }
  }
}

#createCompany {
  main > .row:last-child {
  }
}
