#createProduct {
  .wrapper {
    width: 650px;
    height: auto;

    position: absolute;
    top: 7rem;
  }

  .wrapper main {
    display: flex;
    flex-direction: column;
    gap: 4px;

    label {
      width: 120px;
    }

    .input:nth-child(1) {
      width: 140px;
      margin-bottom: 1rem;
    }

    .input:nth-child(6) {
      width: 160px;
      margin-top: 1rem;
    }
  }
}
