#createCustomer {
  .wrapper {
    width: 650px;
    height: max-content;

    position: absolute;
    top: 7rem;
  }

  .wrapper main {
    display: flex;
    flex-direction: column;
    gap: 4px;

    label {
      width: 80px;
    }

    & > .input:nth-child(1) {
      width: 140px;
      margin-bottom: 1rem;
    }

    & > .flex:nth-child(2) {
      & > .input:nth-child(1) {
        flex: 1;
      }
      & > .input:nth-child(2) {
        width: 180px;
      }
    }
  }
}
