.dialog {
  width: 100vw;
  height: 100vh;

  background-color: #20202086;

  position: fixed;
  inset: 0;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;

  & > .wrapper {
    max-width: 80%;
    height: 80%;

    border: 2px solid #000000;
    border-radius: 10px;
    background: #161616;

    display: grid;
    grid-template-rows: 30px 1fr 48px;

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0 0 8px;
      background-color: #242424;
      border-bottom: 1px solid #242424;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      span:nth-child(1) {
        border-top-right-radius: 10px;
        font-size: 15px;
      }

      span:nth-child(2) {
        width: 40px;
        height: 29px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #800;
        border-top-right-radius: 8px;
        svg {
          fill: #fff;
        }
      }

      span:nth-child(2):hover {
        background-color: #d00;
        svg {
          fill: #fff;
        }
      }
    }

    main {
      padding: 8px;
      overflow-y: auto;
    }

    footer {
      padding: 8px;
      display: flex;
      gap: 4px;

      button {
        max-width: fit-content;
      }
    }
  }
}
