.dialog {
  width: 100vw;
  height: 100vh;
  background-color: #1a1a1aa2;
  position: fixed;
  inset: 0;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;

  & > .wrapper {
    width: 80%;
    height: 80%;

    border: 1px solid #3f3f3f;
    box-shadow: 0px 0px 0px 2px #525252c4;
    border-radius: 4px;
    background: #161616;
    backdrop-filter: blur(10px);

    display: grid;
    grid-template-rows: 30px 1fr 38px;

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0 0 8px;
      background-color: #111111;
      border-bottom: 1px solid #555555;
      -webkit-app-region: drag;

      span:nth-child(1) {
        font-size: 15px;
      }

      span:nth-child(2) {
        width: 40px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #800;
        svg {
          fill: #fff;
        }
      }

      span:nth-child(2):hover {
        background-color: #d00;
        svg {
          fill: #fff;
        }
      }
    }

    main {
      padding: 4px;
      overflow-y: auto;
    }

    footer {
      padding: 4px;
      display: flex;
      justify-content: flex-end;
      gap: 4px;

      button {
        max-width: fit-content;
      }
    }
  }
}
