.dialog {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  inset: 0;
  z-index: 10;

  background-color: #2c2c2c00;

  & > .wrapper {
    width: 600px;
    height: auto;

    display: grid;
    grid-template-rows: 30px 1fr 48px;

    position: absolute;

    border: 1px solid #e6d70173;
    border-radius: 8px;
    box-shadow: 0 0 10px #020202e1;
    background: #1d1d1d;

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0 0 8px;
      color: #000;
      background-color: #969696;
      border-bottom: 1px solid #242424;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      box-shadow: 0 4px #000000;

      span:nth-child(1) {
        flex: 1;
        border-top-right-radius: 10px;
        font-size: 15px;
      }

      span:nth-child(2) {
        width: 40px;
        height: 29px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #800;
        border-top-right-radius: 8px;
        svg {
          fill: #fff;
        }
      }

      span:nth-child(2):hover {
        background-color: #d00;
        svg {
          fill: #fff;
        }
      }
    }

    main {
      padding: 8px;
      overflow-y: auto;
      background-color: #1a1a1a;
      box-shadow: inset 0 0 10px #020202c0;
    }

    footer {
      padding: 8px;
      display: flex;
      gap: 4px;

      button {
        max-width: fit-content;
      }
    }
  }
}
