input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
select {
  width: 100%;
  height: 30px;
  padding-inline: 4px;

  color: #00bad3;
  background-color: #313131;
  font-size: 1.1rem;
  font-weight: 700;

  border: 1px solid #494949;
  border-radius: 0;
  outline: none;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="password"]::placeholder,
input[type="date"]::placeholder,
select::placeholder {
  color: #818181;
  font-size: 0.9rem;
  font-weight: 500;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
select:focus {
  color: #cf9800;
  background-color: #3b3b3b;
  border-color: #ffe600;
}

input[type="file"] {
  opacity: 0;
}

input[type="date"] {
  font-size: 0.8rem;
}

input:disabled {
  color: #007d8d;
  background-color: #270101;
  cursor: auto;
}

.input {
  display: flex;
  height: 30px;
  & label {
    padding-inline: 8px;

    display: flex;
    align-items: center;
    white-space: nowrap;

    color: #a5a5a5;
    background-color: #111111;
    border: 1px solid #4b4b4b;
    border-right-color: transparent;
  }

  & input {
    border-left-color: transparent;
  }
}

.input.checkbox {
  label,
  input {
    border: none;
  }

  label {
    background-color: transparent;
  }
}

input.number {
  text-align: right;
  padding-right: 6px;
}

input.mobile {
  font-family: monospace;
  font-size: 0.9rem;
}

input.date {
  font-size: 1rem;
  font-family: monospace;
}

.input.discount {
  input:first-of-type {
    border-right-color: #0e0e0e;
  }
}
