#messege {
  width: 320px;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-radius: 4px;
  position: fixed;
  bottom: -200%;
  right: 1rem;
  z-index: 1000;

  color: #000000;
  background-size: 200% 100%, 100% 100%;
  box-shadow: 0 0 0 5px #ffffffa2;
  background-image: linear-gradient(
      135deg,
      #ffffff 0%,
      #dadada 15%,
      #ffffff 30%,
      #dadada 45%,
      #ffffff 60%,
      #dadada 75%,
      #ffffff 90%,
      #dadada 100%
    ),
    linear-gradient(
      0,
      transparent 0%,
      #ffffff1a 15%,
      transparent 30%,
      #ffffff1a 45%,
      transparent 60%,
      #ffffff1a 75%,
      transparent 90%,
      #ffffff1a 100%
    );

  transition: all 350ms ease-in-out;
  animation: digital-glitch 8s linear infinite alternate;

  header {
    position: relative;

    span:first-of-type {
      font-size: 21px;
      font-weight: 700;
    }

    span:last-of-type {
      position: absolute;
      top: -10px;
      right: -10px;
      width: 32px;
      height: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-right-radius: 4px;
    }
  }

  .close-btn {
    background-color: #800;
    fill: #9e9e9e;
  }

  .close-btn:hover {
    background-color: #d00;
    fill: #ffffff;
  }
}

#messege.open {
  bottom: 1rem;
}

@keyframes digital-glitch {
  0%,
  100% {
    background-position: 0% 0%, 0% 0%;
  }
  25% {
    background-position: 25% 0%, 0% 25%;
  }
  50% {
    background-position: 50% 0%, 0% 50%;
  }
  75% {
    background-position: 100% 0%, 0% 75%;
  }
}

#confirmation {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #ebebeb85;

  .wrapper {
    width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: #ebebeb;
    border: 1px solid;

    div {
      display: flex;
      gap: 10px;
    }
  }
}
