.container {
  padding: 10px;
  border: 1px solid #505050;
  background-color: #1b1b1b;
  border-radius: 8px;
}

.table-container {
  border: 1px solid #353535;
  background-color: #1d1d1d;
  overflow-y: auto;
  border-radius: 8px;
}

.hidden,
.hide {
  display: none !important;
}

.shown,
.show,
.block {
  display: block !important;
}

.inline {
  display: inline !important;
}

.flex {
  display: flex;
  gap: 6px;
}

.flex.flex-row {
  flex-direction: row;
}

.flex.flex-column {
  flex-direction: column;
}

.flex.flex-center {
  justify-content: center;
  align-items: center;
}

.flex.flex-row.flex-left {
  justify-content: left;
}

.flex.flex-column.flex-left {
  align-items: left;
}

.flex.flex-row.flex-right {
  justify-content: right;
}

.flex.flex-column.flex-right {
  align-items: right;
}

.flex-0 {
  flex: 0;
}

.flex-1 {
  flex: 1;
}

.to-right {
  margin-left: auto;
}

.to-left {
  margin-right: auto;
}
