#companyReturnList.active {
  display: grid;
  grid-template-rows: auto 1fr;

  header {
    .row:nth-child(1) {
      justify-content: flex-end;
    }

    .row:nth-child(2) {
      margin-top: 30px;
      .input:nth-child(1) {
        flex: 1;
      }

      .input:nth-child(2) {
        width: 90px;
      }
    }
  }

  main {
    overflow-y: auto;
    position: relative;
  }

  table {
    th:nth-child(1),
    td:nth-child(1),
    th:nth-child(2),
    td:nth-child(2) {
      width: 80px;
      text-align: center;
    }

    th:nth-child(4),
    td:nth-child(4) {
      width: 80px;
      text-align: center;
    }

    th:nth-child(5),
    td:nth-child(5) {
      width: 160px;
      text-align: center;
    }
  }
}
