#voucher.active {
  display: grid;
  grid-template-rows: auto 1fr;

  header {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .row {
      display: flex;
      gap: 4px;
    }

    .row:nth-child(1) {
      justify-content: flex-end;

      .input:nth-child(1) {
        width: unset;
      }

      .input:nth-child(2) {
        width: unset;
      }
    }
    .row:nth-child(2) {
      margin-top: 30px;
      .input:nth-child(1) {
        flex: 1;
      }
    }
  }

  main {
    overflow-y: auto;
    position: relative;
  }

  table {
    th:nth-child(1),
    td:nth-child(1),
    th:nth-child(2),
    td:nth-child(2) {
      width: 90px;
      text-align: center;
    }

    th:nth-child(4),
    td:nth-child(4) {
      width: 110px;
      text-align: center;
    }

    th:nth-child(5),
    td:nth-child(5),
    th:nth-child(8),
    td:nth-child(8),
    th:nth-child(9),
    td:nth-child(9),
    th:nth-child(10),
    td:nth-child(10) {
      width: 70px;
      text-align: center;
    }
    th:nth-child(6),
    td:nth-child(6),
    th:nth-child(7),
    td:nth-child(7) {
      width: 60px;
      text-align: center;
    }
  }
}
