#withdrawCash {
  .wrapper {
    width: 700px;
    grid-template-rows: 30px 1fr;
  }

  table {
    th:nth-child(1),
    td:nth-child(1) {
      width: 70px;
      text-align: center;
    }

    th:nth-child(2),
    td:nth-child(2) {
      width: 160px;
      text-align: center;
    }

    th:nth-child(3),
    td:nth-child(3) {
      text-align: center;
    }
  }
}
