#createCustomer,
#createProduct,
#createType,
#createGeneric,
#createCompany {
  position: relative;
  top: -15%;
  overflow-y: hidden;

  svg {
    position: absolute;
    top: 6px;
    right: 6px;
    fill: #af0000;
    background-color: #dadada;
    border-radius: 100%;
  }

  svg:hover {
    background-color: transparent;
    fill: #a00000;
  }

  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
  }

  .btn-group {
    margin-top: 1rem;
    flex-direction: row;
    justify-content: flex-end;
    gap: 6px;

    button {
      width: 120px;
    }
  }
}

#createCompany {
  .order-delivery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

#createProduct {
  height: 75%;

  .btn-group {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
