#voucher.active,
#customerList.active,
#productList.active,
#companyList.active,
#genericList.active,
#typeList.active,
#customerReturnList.active,
#companyReturnList.active,
#purchaseList.active,
#stockList.active,
#expenseList.active {
  grid-template-rows: auto 1fr;
  background-color: #dadada;

  header,
  main {
    border-radius: 6px;
    box-shadow: 0 0 5px #020202af;
  }

  header {
    display: flex;
    gap: 4px;
    padding: 6px;
    background-color: #ffc078;
  }

  header div:has(button) {
    align-self: flex-end;
    margin-left: 1rem;
  }

  main {
    padding: 0;
    overflow-y: auto;
    position: relative;
    background-color: #ececec;

    thead {
      top: -1px;
    }
  }
}

#customerList.active {
  th:nth-child(1),
  td:nth-child(1),
  th:nth-child(6),
  td:nth-child(6) {
    width: 80px;
  }

  td:nth-child(1),
  td:nth-child(6) {
    text-align: center;
  }

  th:nth-child(3),
  td:nth-child(3) {
    width: 250px;
  }

  th:nth-child(4),
  td:nth-child(4) {
    width: 120px;
  }

  td:nth-child(4) {
    font-family: monospace;
    text-align: center;
  }

  th:nth-child(5),
  td:nth-child(5) {
    width: 160px;
  }
}

#companyList.active {
  th:nth-child(1),
  td:nth-child(1) {
    width: 80px;
  }

  td:nth-child(1) {
    text-align: center;
  }

  th:nth-child(3),
  td:nth-child(3) {
    width: 120px;
  }

  td:nth-child(3) {
    font-family: monospace;
    text-align: center;
  }

  th:nth-child(4),
  td:nth-child(4),
  th:nth-child(5),
  td:nth-child(5) {
    width: 120px;
  }

  th:nth-child(6),
  td:nth-child(6) {
    width: 220px;
  }

  th:nth-child(7),
  td:nth-child(7) {
    width: 80px;
  }

  td:nth-child(7) {
    text-align: center;
  }
}

#genericList.active,
#typeList.active {
  th:nth-child(1),
  td:nth-child(1) {
    width: 80px;
  }

  td:nth-child(1) {
    text-align: center;
  }
}

#productList.active {
  th:nth-child(1),
  th:nth-child(2),
  td:nth-child(1),
  td:nth-child(2) {
    width: 80px;
  }

  td:nth-child(1),
  td:nth-child(2) {
    text-align: center;
  }

  td:nth-child(4),
  td:nth-child(5) {
    width: 30%;
  }
}

#purchaseList.active {
  th:nth-child(1),
  td:nth-child(1) {
    width: 80px;
    text-align: center;
  }

  th:nth-child(2),
  td:nth-child(2) {
    width: 160px;
  }

  th:nth-child(4),
  th:nth-child(5),
  th:nth-child(6),
  th:nth-child(7),
  td:nth-child(4),
  td:nth-child(5),
  td:nth-child(6),
  td:nth-child(7) {
    width: 100px;
    text-align: center;
  }

  th:nth-child(8),
  td:nth-child(8) {
    width: 120px;
    text-align: center;
  }
}

#stockList.active {
  th:nth-child(1),
  td:nth-child(1) {
    width: 70px;
    text-align: center;
  }

  th:nth-child(2),
  td:nth-child(2) {
    width: 70px;
    text-align: center;
  }

  th:nth-child(3),
  th:nth-child(4),
  th:nth-child(5),
  td:nth-child(3),
  td:nth-child(4),
  td:nth-child(5) {
    width: auto;
  }

  th:nth-child(6),
  th:nth-child(7),
  th:nth-child(8),
  td:nth-child(6),
  td:nth-child(7),
  td:nth-child(8) {
    width: 60px;
    text-align: center;
  }

  th:nth-child(9),
  td:nth-child(9) {
    width: 100px;
    text-align: center;
  }
}

#editCustomerList {
  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;

    & > div {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }

  footer {
    display: flex;
    justify-content: flex-end;
    gap: 6px;
    margin-top: 4rem;

    button {
      width: 100px;
    }
  }

  .short {
    width: 10ch;
  }
}
