#purchase.active {
  display: grid;
  grid-template-rows: auto 1fr auto;

  header {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    gap: 4px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffc078;
    box-shadow: 0 0 5px #2c2c2c;

    .input {
      align-self: self-end;
    }

    .input:nth-child(1) {
      grid-area: 1 / 1/ 1/ 10;
    }

    .input:nth-child(2) {
      grid-area: 1 / 10/ 1/ 80;
    }

    .input:nth-child(3) {
      grid-area: 1 / 90/ 1/ 101;
    }

    .input:nth-child(4) {
      grid-area: 2 / 1/ 2/ 50;
    }

    .input:nth-child(5) {
      grid-area: 2 / 50/2/ 55;
    }

    .input:nth-child(6) {
      grid-area: 2 / 55/ 2/ 60;
    }

    .input:nth-child(7) {
      grid-area: 2 / 60/ 2/ 65;
    }

    .input:nth-child(8) {
      grid-area: 2 / 65/ 2/ 70;
    }

    .input:nth-child(9) {
      grid-area: 2 / 70/ 2/ 75;
    }

    .input:nth-child(10) {
      grid-area: 2 / 75/ 2/ 80;
    }

    .input:nth-child(11) {
      grid-area: 2 / 80/ 2/ 85;
    }

    .input:nth-child(12) {
      grid-area: 2 / 85/ 2/ 95;
    }

    .input:nth-child(13) {
      grid-area: 2 / 95/ 2/ 101;
    }
  }

  main {
    overflow-y: auto;
    background-color: azure;
    border-radius: 10px;
    box-shadow: 0 0 5px #3f3f3f;

    thead {
      top: -2px;
    }

    th:nth-child(1),
    td:nth-child(1) {
      width: 80px;
      text-align: center;
    }

    th:nth-child(3),
    td:nth-child(3),
    th:nth-child(4),
    td:nth-child(4),
    th:nth-child(5),
    td:nth-child(5),
    th:nth-child(6),
    td:nth-child(6),
    th:nth-child(7),
    td:nth-child(7) {
      width: 120px;
      text-align: center;
    }

    th:nth-child(8),
    td:nth-child(8) {
      width: 40px;
      text-align: center;
    }

    td:nth-child(8):hover {
      background-color: rgb(250, 138, 138);
    }
  }

  footer {
    display: flex;
    justify-content: flex-end;

    padding: 10px;
    border-radius: 10px;
    background-color: #ffc078;
    box-shadow: 0 0 5px #1b1b1b;

    position: relative;
  }

  footer > .wrapper:first-of-type {
    position: absolute;
    bottom: 10px;
    left: 10px;

    button {
      color: #fff;
      background-color: #a52a2a;
    }
  }

  footer > .wrapper:last-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;

    .input,
    button {
      width: 11ch;
    }

    .input:nth-child(1) {
      grid-area: 1 / 1 / 1 / 2;
    }

    .input:nth-child(2) {
      grid-area: 2 / 1 / 2 / 2;
    }

    .input:nth-child(3) {
      grid-area: 1 / 2 / 1 / 3;
    }

    .input:nth-child(4) {
      grid-area: 2 / 2 / 2 / 3;
    }

    .input:nth-child(5) {
      grid-area: 1 / 3 / 1 / 4;
    }

    .input:nth-child(6) {
      grid-area: 2 / 3 / 2 / 4;
      align-self: self-end;
    }
  }
}
